body {
	background: black;
	color: #00BB00;
	font-family: sans-serif;
}

.titleImage {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* #headWrapper {
	width: 100%;
	float: left;
	text-align: center;
	font-family: sans-serif;
} */

.statustext {
	float: left; 
	width: 100%;

}

.updownBtn{
	float: left; 
	width: 100%;
}

.leftrightBtn {
	float: left;
	width: 50%;
}

.btn {
	background-color:#44c767;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}

.btn:hover {
	background-color:#5cbf2a;
}

.btn:active {
	position:relative;
	top:1px;
}

.wrapper {
	float: left;
	width: 100%;
	text-align: center;
	/* margin-top: 10%; */
	margin-bottom: 50px;
}

#camera {
	width: 400px;
	height: 300px;
	border: solid 1px black;
	float: left;
}

#camBtn {
    margin-top: 18%;
}

.blueButton {
	background: #4444FF;
	border: solid 1px #000088;
	color: white;
	padding: 8px 16px;
}

.blueButton:hover {
	background: rgb(65, 65, 230);
}

.blueButton:active {
	background: rgb(16, 16, 150);
}

.buttonListItem {
	display: block;
	width: 100%;
	margin-bottom: 2px;
}

#soundsList {
	width: 40%;
}

#lionBattery {
	background: white;
	width: 100px;
}

.infoLabel {
	font-weight: bold;
	text-align: right;
	padding-right: 6px;
}